
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
body{
	margin: 0;
	padding: 0;
	font-family:"Open Sans";
	font-weight: 400;
}
p{
	font-size: 16px;
	line-height: 27px;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
}
h2{
	font-size: 35px;
	margin-top: 110px;
	font-family: "Ubuntu";
	font-weight: 700;
	text-align: center;
}
.container {
	width: 1170px;
	margin: auto;
}
.header_logo{
	width: 100px;
	padding-top: 70px;
	margin-bottom: 28px;
}
header{
	background: linear-gradient(37deg, rgba(77,191,254,1) 0%, rgba(55,143,217,1) 100%);
	padding-bottom: 50px;
}
.header_text h1{
	font-family: "Ubuntu";
	font-size: 37px;
	color: #fff;
	font-weight: 700;

}
.header_text h1 span{
	font-size: 59px;
	display: block;
}
.header_text p{
	color: #fff;
	margin-top: 45px;
	margin-bottom: 45px;
	width: 400px;
}
.block_img{
	margin-right: 20px;
}
.header_btn{
	font-family:"Montserrat";
	font-size: 15px;
	line-height: 25px;
	font-weight: 900;
	text-decoration: none;
	padding: 20px 25px;
	background-color: #ffd429;
	color: #2e2a1b;
}
.header_img{
	width: 525px;
}
.header_overlay{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.future_img{
	margin-top: 75px;
	margin-bottom: 35px;
	height: 60px;
}
.future{
	display: flex;
	justify-content: space-between;
	text-align: center;	
}
.future_text{
	margin-bottom: 20px;
	font-family: "Ubuntu";
	font-weight: 700;
}
.future_p{
	font-family: "Ubuntu";
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
}
.future_block{
	margin-bottom: 120px;
	width: 300px;
}
.move_to_dr{
	background-color: #ecf3f8;
	padding-top: 105px;
	padding-bottom: 100px;
}
.input_st{
 	height: 50px;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 15px;
  	width: 320px;
  	padding-left: 25px;
}
.input_btn{
	    background-color: #ffd429;
	    border: #ffd429;
	    font-family: "Montserrat";
	    font-weight: 900;
	    line-height: 25px;
	    font-size: 15px;
	    margin-bottom: 0;
	   	width: 345px;
	   	padding: 0;
}
.main_text_title{
	margin-bottom: 55px;
	margin-top: 0px;
}
.footer_text{
	font-size: 14px;
	line-height: 25px;
	text-align: center;
}
footer{
	padding: 57px 0px; 
	background-color: #164d7a;
	/*я тут посчитал высоту футера по формуле (140 - 25(высота текста))/2*/
}
/* 834 - 1200px */
@media screen and (max-width: 1200px) {
	.container{
		width: calc(100% - 80px);
	}
	.header_img{
		width: 103%;
	}
	.header_text h1{
		font-size: 33px;
	}
	.header_text h1 span{
		font-size: 52px;
	}
	.future_block{
		width: 200px;
	}
}
@media screen and (max-width: 829px) {
	.header_text h1{
		font-size: 30px;
	}
	.header_text h1 span{
		font-size: 47px;
	}
	.header_img{
		width: 117%;
	}
	.future{
		flex-direction: row;
		justify-content: space-between;
	}
}
@media screen and (max-width: 804px) {
	.header_img{
		width: 110%;
	}
	.header_text h1{
		font-size: 25px;
	}
	.header_text h1 span{
		font-size: 40px;
	}
}
@media screen and (max-width: 758px) {
	.header_overlay{
		flex-direction: column;
	}
	.header_img{
		width: 61%;
    	margin-left: 80px;
   		margin-top: 41px;
	}
	.header_text h1 {
    	font-size: 40px;
	}
	.header_text h1 span {
    	font-size: 70px;
	}
}
@media screen and (max-width: 672px){
	.container {
		width: calc(100% - 40px);
	}
	.future{
		flex-direction: column;
		width: 400px;
	}
}
@media screen and (max-width: 433px) {
	.header_img{
		display: block;
		margin: 40px auto 0;
		width: 80%;
	}
	.header_text p{
		width: auto;
	}
	.future_block {
    	margin-bottom: 0;
    	margin: auto;
	}
	.future_block:last-child{
		margin-bottom: 65px;
	}
	.future_img{
		margin-top: 40px;
	}
	h2 {
    	font-size: 35px;
	}
	.input_st{
		width:calc(100% - 25px);
	}
	.future{
		width: 100%;
	}
}
