h1,h2,h3,h4,h5,p{
	margin: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.container{
	width: 1231px;
	margin: auto;
}
header{
    width: 100%;
    position: absolute;
    top: 22px;
}
.first_scr{
	background-image: url(../img/back1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    color: #fff;
    padding-bottom: 55px;
}
.header_menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_logo{
	width: 286px;
}
.menu{
	display: flex;
	justify-content: space-between;
}
.header_menu_item{
	margin:0 36px;
	text-decoration: none;
	color: #fff;
	font-family: none;
}
.header_title h1{
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 48px;
	line-height: 125%;
	margin-top: 79px;
	margin-bottom: 42px;
}
.header_title h1 span{
	font-weight: 400;

}
.add_block{
	display: flex;
}
.header_add{
	display: flex;
	margin-bottom: 92px;
}
.header_btn{
	display: flex;
	width: 172px;
	height: 62px;
}
.ios_access{
	display: flex;
	align-items: center;
}
.ios_btn{

}
.left_right{
	display: flex;
	justify-content: space-between;
	position:relative;
}
.phone_r{
width: 486px;
height: 589px;
}
.overlay_left{
	margin: 0;
}
.add_block h4{
	font-family: "Noto Sans";
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	width: 156px;
}
.add_block img{
	margin-right: 20px;
}
.add_block:last_child{
	margin-right: 0;
}
.img_apple{
	margin-left: 38px;
	margin-right: 13.24px;
}
.ios_access p{
	width: 180px;
	font-size: 14px;
}
.scroll_down p{
	font-size: 10px;
	font-weight: 400;	
	line-height: 150%;
}
.scroll_down img{
	width: 15px;
	margin-bottom: 15px;
}
.scroll_down {
	position: absolute;
	bottom: 7px;
	left: calc(50% - 35px);
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.second_scr{
	background-color: #F4F4F4;
	padding-top: 113px;
	padding-bottom: 100px;
}
.hits_left h2{
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	margin-bottom: 28px;
}
.hits_left p{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	margin-top: 33px;
	width: 236px;
	margin-bottom: 175px;
}
.zighota_svg{
	width: 56px;
}
.hits_block{ 
	width: 221px;
	padding-top: 22px;
	padding-right: 41px;
	padding-left: 16px;
	border-radius: 10px;
	background-color: #fff;
	margin-right: 41px;
	min-height: 376px;
}
.hits_block:last_child{
	margin-right: 0;
}
.hits_block img{
	margin-bottom: 11px;
}
.hits_block p{
	font-size: 16px;
	line-height: 24px;
}
.hits_block h3{
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 21px;
	line-height: 25px;
}
.hits_right{
	width: 909px;
}
.hits{
	display: flex;
	justify-content: space-between;	
	margin-bottom: 105px;

}
.new_items{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
.NItems_left h2{
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	margin-bottom: 28px;
}
.NItems_left p{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	margin-top: 33px;
	width: 236px;
	margin-bottom: 175px;
}
.NItems_right{
	width: 909px;
}
.NItems_block{ 
	width: 221px;
	padding-top: 22px;
	padding-right: 41px;
	padding-left: 16px;
	border-radius: 10px;
	background-color: #fff;
	margin-right: 41px;
	min-height: 376px;
}
.btn_sec_scr a{
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 21px;
	line-height: 32px;
	text-decoration: none;
	color: #fff;
	padding: 15px 27px 15px 33px;
	border-radius: 10px;
	background-color: #2D60A4;
	margin-left: 440px;
}
.third_scr img{
	width: 100%
}
.adv_scr{
		background-image: url("../img/bg_adv.png");
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -10px;
}
.adv_title{
	padding-top: 100px;
	text-align: center;
	margin-bottom: 50px;
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
}
.advantages_block{
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}
.advantages_grp{
	text-align: center;
	width: 172px;
}
.advantages_grp img{
	width: 108px;
	margin-bottom: 55px;
}
.advantages_grp p{
	font-weight: 400;
	line-height: 130%;
	font-size: 16px;
}
.fifth_scr{
	background-image: url("../img/fifth_scr.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
}
.Testimonials h2{
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 33px;
}
.tst_blockS{
	width: 279px;
	height: 202px;
	padding-top: 19px;
	padding-left: 15px;
	padding-right: 20px;
	background-color: #fff;
	border-radius: 10px;
	margin-right: 35px;
}
.tst_blockB{
	width: 279px;
	height: 240px;
	padding-top: 19px;
	padding-left: 15px;
	padding-right: 20px;
	background-color: #fff;
	border-radius: 10px;
	margin-right: 35px;
}
.tst_main_block{
	justify-content: center;
	padding-bottom: 67px;
}	
.tst_blockB:last_child{
	margin-right: 0;
}
.user_date{
	font-family: "Gotham Pro";
	font-weight: 400;
	line-height: 150%;
	font-size: 16px;
	margin-bottom: 15px;
}
.tst_info{
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
}
.star{
	display: flex;
	margin-bottom: 12px;
}
.give_feedback a{
	width: 279px;
	text-align: center;
	display: block;
	padding: 15px 0;
	background-color: #2D60A4;
	border-radius: 10px;
	text-decoration: none;
	color: #fff;
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 21px;
	line-height: 32px;
	margin: auto;
}
.sixth_scr{
	background-image: url("../img/bg_6.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.container_quest{
	width: 1028px;
	margin: auto;
}
.left_right_qust{
	display: flex;
	justify-content: space-between;
}
.questions h2{
	text-align: center;
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	padding-top: 88px;
	margin-bottom: 67px;
}
.left_quest{
	font-family: "Gotham Pro";
	font-weight: 400;
	font-size: 21px;
	line-height: 31.5px;
}
.left_quest h4{
	margin-bottom: 33px;
}
.left_quest p{
	font-family: "Noto Sans";
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	width: 878px;	
	padding-bottom: 37px;
}
.right_qest{
	margin-top: -32px;	
}
.right_qest img{
	width: 73px;
}
.left_instal h2{
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	margin-bottom: 18px;
}
.subtitle{
	color: #BBD8FF;
	font-family: "Noto Sans";
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 49px;
}
.download_btn{
	display: flex;
	align-items: center;
}
.inst_txt{
	font-family: "Noto Sans";
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	margin-bottom: 48px;
}
.download_btn a{
	font-family: "Gotham Pro";
	font-weight: 700;
	font-size: 21px;
	line-height: 31px;
	color: #2D60A4;
	text-decoration: none;
	border-radius: 10px;
	padding: 15px 55px;
	width: 170px;
	background-color: #fff;
}
.left_right_instal{
	display: flex;
	justify-content: space-between;
}
.left_instal{
	padding-top: 110px;
}
.seventh_scr{
	background-image: url("../img/bg7.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.img_apple2{
	margin-left: 18px;
	margin-right: 13.24px;
}
.download_btn p{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}
footer{
	background-color: #0F1721;
}
.footer_block{
	padding-top: 36px;
}
.rights a{
	display: block;
	font-family: "Noto Sans";
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #fff;
	margin-bottom: 15px;
}
.rights a:last_child{
	margin-bottom: 15px;
}
.footer_block{
	display: flex;
	justify-content: space-between;
}
.footer_link a{
	display: block;
	font-family: "Noto Sans";
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #fff;
	margin-bottom: 15px;
	text-decoration: none;
}
.footer_link2 a{
	display: block;
	font-family: "Noto Sans";
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #fff;
	margin-bottom: 15px;
	text-decoration: none;
}
.footer_btn{
	display: block;
	padding-bottom: 37px;
	margin-top: -7px;
}
.footer_btn img{
	margin-left: 150px;
}
.footer_btn p{
	color: #fff;
}
.footer_block {
    padding-top: 36px;
}
.footer_logo{
	width: 286px;
}